<a href="https://colab.research.google.com/github/balajiabcd/ColabNotebook/blob/main/Sentiment_Analysis_Amazon_reviews_004.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Natural Language Processing

## Importing the libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Importing the dataset

In [2]:
dataset = pd.read_csv('amazon-review-analysis.csv', usecols = ['reviews.text','reviews.rating'])

In [3]:
y = [0] * len(dataset)
dataset['y'] = y
dataset.head(4)

   reviews.rating                                       reviews.text  y
0             5.0  This product so far has not disappointed. My c...  0
1             5.0  great for beginner or experienced person. Boug...  0
2             5.0  Inexpensive tablet for him to use and learn on...  0
3             4.0  I've had my Fire HD 8 two weeks now and I love...  0

## Cleaning the texts

In [4]:
dataset = dataset.dropna()
dataset['reviews.rating'].unique()

array([5., 4., 2., 1., 3.])

In [5]:
import re
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

corpus = []

for i in range(0, len(dataset)):
  review = re.sub('[^a-zA-Z]', ' ', dataset.iloc[i,1])
  review = review.lower()
  review = review.split()

  ps = PorterStemmer()
  all_stopwords = stopwords.words('english')
  all_stopwords.remove('not')


  review = [ps.stem(word) for word in review if not word in set(all_stopwords)]
  review = ' '.join(review)
  corpus.append(review)

  if (dataset.iloc[i,0] > 2):
    dataset.iloc[i,2] = 1

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [6]:
corpus[20]

'excel tablet nice screen wish amazon would pre instal play store would perfect'

## Creating the Bag of Words model

In [7]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 5000)
X = cv.fit_transform(corpus).toarray()
y = dataset.iloc[:, 2].values

## Splitting the dataset into the Training set and Test set

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.40, random_state = 0)

## Training the Decission Tree model on the Training set and predicting

In [11]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier( criterion = 'entropy' ,random_state = 0)
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)
pd.DataFrame(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1)).head(5)

   0  1
0  1  1
1  1  1
2  1  1
3  1  1
4  1  1

In [12]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[   54   243]
 [  198 13356]]

0.96816114359974