<a href="https://colab.research.google.com/github/balajiabcd/ColabNotebook/blob/main/Sentiment_Analysis_Amazon_reviews_001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Natural Language Processing

## Importing the libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Importing the dataset

In [2]:
dataset = pd.read_csv('amazon-review-analysis.csv', usecols = ['reviews.text','reviews.rating'])
y = [1] * len(dataset)
dataset['y'] = y
dataset.head(4)

   reviews.rating                                       reviews.text  y
0             5.0  This product so far has not disappointed. My c...  1
1             5.0  great for beginner or experienced person. Boug...  1
2             5.0  Inexpensive tablet for him to use and learn on...  1
3             4.0  I've had my Fire HD 8 two weeks now and I love...  1

## Cleaning the texts

In [3]:
dataset = dataset.dropna()
dataset['reviews.rating'].unique()

array([5., 4., 2., 1., 3.])

In [4]:
import re
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

corpus = []

for i in range(0, len(dataset)):
  review = re.sub('[^a-zA-Z]', ' ', dataset.iloc[i,1])
  review = review.lower()
  review = review.split()

  ps = PorterStemmer()
  all_stopwords = stopwords.words('english')
  all_stopwords.remove('not')


  review = [ps.stem(word) for word in review if not word in set(all_stopwords)]
  review = ' '.join(review)
  corpus.append(review)

  if (dataset.iloc[i,0] < 3):
    dataset.iloc[i,2] = 0

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [5]:
corpus[20]

'excel tablet nice screen wish amazon would pre instal play store would perfect'

## Creating the Bag of Words model

In [6]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 5000)
X = cv.fit_transform(corpus).toarray()
y = dataset.iloc[:, 2].values

## Splitting the dataset into the Training set and Test set

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.40, random_state = 0)

## Training the Naive Bayes model on the Training set

In [8]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

## Predicting the Test set results

In [9]:
y_pred = classifier.predict(X_test)
pd.DataFrame(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1)).head(5)

   0  1
0  0  1
1  1  1
2  0  1
3  1  1
4  1  1

## Making the Confusion Matrix

In [10]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[ 131  166]
 [7003 6551]]

0.48242004187423293