<a href="https://colab.research.google.com/github/balajiabcd/ColabNotebook/blob/main/Sentiment_Analysis_Amazon_reviews_001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Natural Language Processing

## Importing the libraries

In [23]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Importing the dataset

In [24]:
dataset = pd.read_csv('amazon-review-analysis.csv', usecols = ['reviews.text','reviews.rating'])
dataset.head(4)

   reviews.rating                                       reviews.text
0             5.0  This product so far has not disappointed. My c...
1             5.0  great for beginner or experienced person. Boug...
2             5.0  Inexpensive tablet for him to use and learn on...
3             4.0  I've had my Fire HD 8 two weeks now and I love...

## Cleaning the texts

In [25]:
dataset = dataset.dropna()
dataset['reviews.rating'].unique()

array([5., 4., 2., 1., 3.])

In [26]:
import re
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

ps = PorterStemmer()
all_stopwords = stopwords.words('english')
all_stopwords.remove('not')
corpus = []
b = []

for i in range(0, len(dataset)):
  review = re.sub('[^a-zA-Z]', ' ', dataset.iloc[i,1])
  review = review.lower()
  review = review.split()
  review = [ps.stem(word) for word in review if not word in set(all_stopwords)]
  review = ' '.join(review)
  corpus.append(review)

  if (dataset.iloc[i,0] < 3):
    dataset.iloc[i,0] = 0
  else:
    dataset.iloc[i,0] = 1

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [27]:
corpus[60:61]

['excel tablet leav easel display refer photo light enough velcro articul stand posit tablet right next canva cheap enough not worri love price']

## Creating the Bag of Words model

In [28]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 30000)
X = cv.fit_transform(corpus).toarray()
y = dataset.iloc[:, 0].values

## Splitting the dataset into the Training set and Test set

In [29]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.40, random_state = 0)

## Training the Naive Bayes model on the Training set

In [30]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

## Predicting the Test set results

In [31]:
y_pred = classifier.predict(X_test)
pd.DataFrame(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1)).head(5)

     0    1
0  0.0  1.0
1  1.0  1.0
2  0.0  1.0
3  1.0  1.0
4  1.0  1.0

## Making the Confusion Matrix

In [32]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[ 131  166]
 [7003 6551]]

0.48242004187423293